 <style>
 .oneDiv
 {
  background-color: lightblue;
  text-align: center;
  padding : 100px;
  width: 100px;
  display: inline-block;
  margin: -5px;
 }
 .twoDiv
 {
  background-color: red;
  text-align: center;
  padding: 100px;
  width: 100px;
  display: inline-block;
  margin: 0px;
 }
 .threeDiv
 {
  background-color: pink;
  text-align: center;
  padding: 100px;
  width: 100px;
  display: inline-block;
  margin: -5px;
 }
 .fourDiv
 {
  background-color: blue;
  text-align: center;
  padding: 100px;
  width: 100px;
  display: inline-block;
  margin: 0px;
 }
 </style>
